@rem: 16rem;
.wrapper{
  display: flex;
  min-height: 100vh;
  .partLeft{
    width: 8rem;
    background-color: #f3f3f3;
    .mainBox{
      text-align: center;
      .mainUl{
        .mainLi{
          line-height: 40/@rem;
        }
      }
    }
  }
  .partRight{
    flex-grow: 1;
  }
}