.wrapper {
  display: flex;
  min-height: 100vh;
}
.wrapper .partLeft {
  width: 8rem;
  background-color: #f3f3f3;
}
.wrapper .partLeft .mainBox {
  text-align: center;
}
.wrapper .partLeft .mainBox .mainUl .mainLi {
  line-height: 2.5rem;
}
.wrapper .partRight {
  flex-grow: 1;
}
