input, textarea {
  border: none;
  outline: none;
  &::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
  }
}
.partLeft{
  display: none;
}

.cssToRNBox {
  .cssToRNTitle{
    text-align: center;
    padding: 10px 0 20px 0;
  }
  .contentBox {
    display: flex;
    //background-color: #f5f5f5;
    border-top: 1px solid #C5C5C5;

    .inputInfo{
      width: 0;
      flex-grow: 1;
      padding-right: 12px;
      .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
          font-weight: bold;
          margin: 15px 0 14px 5px;
          color: #ff0000;
          font-size: 14px;
          height: 25px;
        }
        .right{
          width: 122px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          font-size: 14px;
          color: #fff;
          cursor: pointer;
          background-color: red;
        }
      }
      .content{
        padding: 20px;
        height: 500px;
        background-color: RGBA(12,30,30,1);
        .textarea {
          font-size: 16px;
          color: #00CC1A;
          width: 100%;
          height: 100%;
          line-height: 24px;
          resize: none;
          background-color: transparent;
        }
      }
    }

    .outputInfo {
      width: 0;
      flex-grow: 1;
      padding-left: 12px;
      .title{
        font-weight: bold;
        margin: 15px 0 14px 5px;
        color: #ff0000;
        font-size: 14px;
        height: 25px;
      }

      .content{
        padding: 20px;
        height: 500px;
        font-size: 16px;
        background-color: RGBA(12,30,30,1);
        .styleTip1{
          color: RGBA(215, 186, 125, 1);
        }
        .styleTip2{
          padding-left: 36px;
          //color: RGBA(50, 96, 166, 1);
          //color: RGBA(197, 134, 192, 1);
          //color: RGBA(106, 53, 85, 1);
          color: RGBA(111, 196, 247, 1);

        }
        .styleItem {
          padding-left: 72px;
          line-height: 24px;
          .prop{
            color: RGBA(111, 196, 247, 1);
          }
          .value{
            color: RGBA(206, 140, 98, 1);
          }
        }
      }
    }
  }

  .tipBox{
    padding: 10px 0;
    line-height: 28px;
    font-size: 16px;
    .desc1{
      color: red;
      .bold{
        font-weight: bold;
      }
    }
    .desc2{
      color: #000;
      .bold{
        font-weight: bold;
      }
      .green {
        color: rgb(7, 193, 96);
      }
      .red{
        color: red;
      }
    }
  }
}